<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/stickyFooter.css">
    <title>Assignment - UDMS</title>
</head>
<body>

<!-- Navbar Admin -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/homepage_a">
        <img class="navbar-icon mx-auto" src="../static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage_a">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search_a">Search Data</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="/attendance">Attendance</a>
                    <a class="dropdown-item" href="/match_create">Match System</a>
                    <a class="dropdown-item" href="/grading">Grading</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Match Record -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 mb-3 font-weight-bold">Match Recording System</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Match subnavbar-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/match_create">Add Record</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete Record</li>
                </ol>
            </nav>
        </div>
    </div>
    <form method ="post">
        <div class="row">
            <!-- Search Section-->
            <div class="col-4">
                <input type="date" class="form-control" id="searchDate" name = "date">
            </div>
            <div class="col-3">
                <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
            <!-- Modal -->
{#            <div class="modal fade" id="delWarningMo" tabindex="-1" role="dialog" aria-labelledby="delWarningLabel" aria-hidden="true">#}
{#                <div class="modal-dialog" role="document">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="delWarningLabel">Operation confirmation</h5>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <p>Please confirm you want to delete the attendance record on: </p>#}
{#                            <p>2019-4-3?</p>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-success" data-dismiss="modal">ABORT</button>#}
{#                            <button type="button" class="btn btn-danger">CONFIRM</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </form>
    <br/>
    <form>
    {{ r_id }}
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Competition Name</th>
                    <th scope="col">Result</th>
                    <th scope="col">Side</th>
                    <th scope="col">Opponent Name</th>
                    <th scope="col">Deletion</th>
                </tr>
                </thead>
                <tbody>
                {% for i in matchs %}
                <tr>
                    <th scope="row">{{ matchs.index(i) + 1 }}</th>
                    <td>{{ i[0] }}</td>
                    {% if i[1] == 1 %}
                    <td>Win</td>
                    {% else %}
                    <td>Lose</td>
                    {% endif %}
                 {% if i[2] == 1 %}
                    <td>Pros</td>
                    {% else %}
                    <td>Cons</td>
                    {% endif %}
                    <td>{{ i[3] }}</td>
                    <th scope="col">
                        <a href = "/match_del/{{ i[4] }}"><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delWarningMo">DELETE</button></a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="../static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="../static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>