<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/search.css">
    <link rel="stylesheet" href="static/css/stickyFooter.css">
    <title>Search - UDMS</title>
</head>
<body>

<!-- Navbar Ordinary User -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="homepage">
        <img class="navbar-icon mx-auto" src="static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assignment">Assignment</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/search">Search Data</a>
            </li>
        </ul>
    </div>
</nav>
<form method = post>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <form class="searchForm">
                <img src="static/img/logo/logo_black.svg" width="200">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <select class="form-control" name = "select" id="searchPara1">
                    <option value = "id">UDT ID</option>
                    <option value = "name">Name</option>
                    <option value = "major">Programme</option>
                </select>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <input type="text" name = "input" class="form-control" id="searchIpt1" placeholder="Input according to the first parameter">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </div>
    </div>

</div></form>


<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-10">
                <img src="static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>