<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/stickyFooter.css">
    <title>Welcome - UDMS </title>
</head>
<body>

<!-- Navbar Ordinary User -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="homepage.html">
        <img class="navbar-icon mx-auto" src="static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homepage_">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assignment">Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search Data</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main container -->
<div class="container">
    <!-- Greeting -->
    <div class="row">
        <div class="col">
            <h1 class="h1 mb-3 font-weight-bold">Hi {{ name }}, welcome to UDMS!</h1>
        </div>
    </div>
    <!-- Homepage subnavbar-->
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">My Info.</li>
                    <li class="breadcrumb-item"><a href="/change_pwd">Modify Password</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Detail Info. -->
    <div class="row">
        <!-- Match records -->
        <div class="col-12">
            <div class="card mb-3 shadow" style="max-width: 100rem;">
                <div class="card-header text-white bg-secondary">
                    <div class="row">
                        <div class="col-10">
                            Match Records
                        </div>
                        <div class="col align-self-end">
                            <a class="btn btn-sm btn-block btn-outline-light" href="/homepage">Return</a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Match Name</th>
                        <th scope="col">Opponent Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Match Status</th>
                        <th scope="col">MVP Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <th scope="row">{{  results.index(result) + 1 }}</th>
                            <td>{{ result.Amatch.match_name }}</td>
                            <td>{{ result.Amatch.opponent }}</td>
                            <td>{{ result.MatchRecord.position }}</td>
                            {% if result.Amatch.win == 1 %}
                                <td>
                                    <span class="badge badge-pill badge-success">Win</span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="badge badge-pill badge-danger">Lose</span>
                                </td>
                            {% endif %}
                            {% if result.MatchRecord.is_mvp == 1 %}
                                <td>
                                    <span class="badge badge-pill badge-success">Yes</span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="badge badge-pill badge-danger">No</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% import "search/_macros.html" as macros %}
                {%if pagination%}
                    <div class="pagination justify-content-center pagination-sm">
                        {{ macros.pagination_widget(pagination, 'detail_records') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Invisible form to submit the variables -->
<form method="get" action="/detail_records" id="form" style="display:none">
    <input name="result_num" value="{{ member_id }}">
    <input name="page" id="next_page">
</form>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-10">
                <img src="static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
<script src="static/js/Chart.js"></script>
<script src="static/js/Chart.min.js"></script>

<script>
    //To get the value of next page together with the search criteria and submit them
    $(document).ready(function(){
        $('.pages').click(function(){
            $('#next_page').val($(this).attr('next-page'));
            $('#form').submit();
        });
    });
</script>

</body>
</html>