<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/search.css">
    <link rel="stylesheet" href="../../static/css/stickyFooter.css">
    <title>Attendance - UDMS</title>
</head>
<body>

<!-- Navbar Admin -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/homepage_a">
        <img class="navbar-icon mx-auto" src="static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage_a">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search_a">Search Data</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="/attendance">Attendance</a>
                    <a class="dropdown-item" href="/match_create">Match System</a>
                    <a class="dropdown-item" href="/grading">Grading</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Attendance Sheet-->
<div class="container">
    <div class="row">
        <h1 class="h1">Attendance System</h1>
    </div>
    <div class="row">
        <!-- Attendance subnavbar-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><a href="/attendance">Group Selection</a></li>
                <li class="breadcrumb-item"><a href="/attendance_search">Search</a></li>
{#
#}
            </ol>
        </nav>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">UDT ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member[0] }}</td>
                    <td>{{ member[1] }}</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input radioInput" type="radio" name="attend{{ member[0] }}" id="radioInput" value="Present">
                            <label class="form-check-label" for="inlineRadio1">Present</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input radioInput" type="radio" name="attend{{ member[0] }}" id="radioInput" value="Excused">
                            <label class="form-check-label" for="inlineRadio2">Excused</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input radioInput" type="radio" name="attend{{ member[0] }}" id="radioInput" value="Late">
                            <label class="form-check-label" for="inlineRadio3">Late</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input radioInput" type="radio" name="attend{{ member[0] }}" id="radioInput" value="Absent">
                            <label class="form-check-label" for="inlineRadio4">Absent</label>
                        </div>
                    </td>
                    {% if member[2] == 0 %}
                        <td>
                            <span id="curr_status{{ member[0] }}" class="badge badge-pill badge-success">Present</span>
                        </td>
                    {% elif member[2] == 1 %}
                        <td>
                            <span id="curr_status{{ member[0] }}" class="badge badge-pill badge-info">Excused</span>
                        </td>
                    {% elif member[2] == 2 %}
                        <td>
                            <span id="curr_status{{ member[0] }}" class="badge badge-pill badge-warning">Late</span>
                        </td>
                    {% elif member[2] == 3 %}
                        <td>
                            <span id="curr_status{{ member[0] }}" class="badge badge-pill badge-danger">Absent</span>
                        </td>
                    {% else %}
                        <td>
                            <span id="curr_status{{ member[0] }}" class="badge badge-pill badge-primary">Unchecked</span>
                        </td>
                    {% endif %}
                    <td>
                        <button class="btn btn-sm btn-outline-primary checkButton" member_id="{{ member[0] }}" member_name="{{ member[1] }}">Check</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end">
        <a href="/attendance" class="btn btn-primary">Close Page</a>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-10">
                <img src="static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="../../static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function(){
        $('.checkButton').on('click', function(){
            let member_id = $(this).attr('member_id');
            let member_name = $(this).attr('member_name'),
                status_name = "attend" +member_id;
            status = $('input[type=radio][name="'+ status_name +'"]:checked').val();

            req = $.ajax({
                url: '/attendance/check',
                type: 'POST',
                data: {status: status, id: member_id},
                success: function () {
                    alert('Checked ' + member_name + ' as ' + status + '.');
                }
            });


            req.done(function(data){

                // Assign jQuery selector to a variable
                let status_badge = $('#curr_status' +member_id);

                // Clear all the class control badge colour
                if(status_badge.hasClass("badge-success")){
                    status_badge.removeClass("badge-success");
                }else if(status_badge.hasClass("badge-info")){
                    status_badge.removeClass("badge-info");
                }else if(status_badge.hasClass("badge-warning")){
                    status_badge.removeClass("badge-warning");
                }else if(status_badge.hasClass("badge-danger")){
                    status_badge.removeClass("badge-danger");
                }else{
                    status_badge.removeClass("badge-primary");
                }

                // Add badge colour according to the status
                if(data.int_status == 0){
                    status_badge.addClass("badge-success");
                }else if(data.int_status == 1){
                    status_badge.addClass("badge-info");
                }else if(data.int_status == 2){
                    status_badge.addClass("badge-warning");
                }else if(data.int_status == 3){
                    status_badge.addClass("badge-danger");
                }else{
                    status_badge.addClass("badge-primary");
                }

                // Update the status
                status_badge.text(data.curr_status);
            });
        });
    });
</script>
</body>
</html>