<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/stickyFooter.css">
    <title>Grading - UDMS</title>
</head>
<body>

<!-- Navbar Admin -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/homepage_a">
        <img class="navbar-icon mx-auto" src="static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage_a">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search_a">Search Data</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="/attendance">Attendance</a>
                    <a class="dropdown-item" href="/match_create">Match System</a>
                    <a class="dropdown-item" href="/grading">Grading</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 mb-3 font-weight-bold">UDT Grading System</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Assignment subnavbar-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Assignment list</li>
                    <li class="breadcrumb-item"><a href="/assignment_new">New assignment</a></li>
                </ol>
            </nav>
        </div>
    </div>
    {#    {% for i in assignments %}#}
    {#        <div class="row">#}
    {#            <div class="col-12">#}
    {#                <div class="card">#}
    {#                    <h5 class="card-header">{{ i[0] }}#}
    {#                        <span class="badge badge-info">Release {{ i[1] }}</span>#}
    {#                    </h5>#}
    {#                    <div class="card-body">#}
    {#                        <p class="card-text">{{ i[2] }}</p>#}
    {#                        <a href="/grading_detail/{{ i[3] }}" class="btn btn-primary">Grade</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <br/>#}
    {#    {% endfor %}#}
    {% for assignment in assignments %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">{{ assignment.Assignment.title }}
                        <span class="badge badge-info">Release 2019-5-20</span>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ assignment.Assignment.detail }}</p>
                        <a href="/grading_detail/{{ assignment.Assignment.a_id }}" class="btn btn-primary">Grade</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    {% endfor %}
    {% import "grading/_macros.html" as macros %}
    {%if pagination%}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'grading') }}
        </div>
    {% endif %}
</div>

<!-- Invisible form to submit the variables -->
<form method="get" action="/grading" id="form" style="display:none">
    <input name="udt_id" value="{{ udt_id }}">
    <input name="page" id="next_page">
</form>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-10">
                <img src="static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
<script>
    //To get the value of next page together with the search criteria and submit them
    $(document).ready(function(){
        $('.pages').click(function(){
            $('#next_page').val($(this).attr('next-page'));
            $('#form').submit();
        });
    });
</script>
</body>
</html>