<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/stickyFooter.css">
    <title>Grade Assignment 1 - UDMS</title>
</head>
<body>

<!-- Navbar Admin -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../homepage/homepage_admin.html">
        <img class="navbar-icon mx-auto" src="../static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../homepage/homepage_admin.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../search/search_admin.html">Search Data</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="../attendence/attendence.html">Attendance</a>
                    <a class="dropdown-item" href="#">Match System</a>
                    <a class="dropdown-item" href="./grading.html">Grading</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 mb-3 font-weight-bold">Assignment 1</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h5 class="h5 mb-3 font-weight-bold">Requirement</h5>
            <p class="mb-3">Assignment requirement will be listed here</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h5 class="h5 mb-3 font-weight-bold">Submission Status</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Total submission</th>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row">Due date</th>
                    <td>Sunday, 14 April 2019, 11:55 PM</td>
                </tr>
                <tr>
                    <th scope="row">Time remaining</th>
                    <td>4 hours 49 mins</td>
                </tr>
                <tr>
                    <th scope="row">Grading Status</th>
                    <td>
                        <form class="was-validated">
                            <div class="row">
                                <div class="col">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                            <label class="custom-control-label" for="customControlValidation1">Mark as all graded</label>
                            <div class="invalid-feedback">Please mark before submission</div>
                        </div>
                                </div>
                                <div class="col-3">
                                    <div class="col">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-3">
            <a href="./grading.html" class="btn btn-lg btn-danger btn-block">Return</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UDT ID</th>
                <th scope="col">Name</th>
                <th scope="col">Submission</th>
                <th scope="col">Grading</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>001</td>
                <td>Otto</td>
                <td><a href="/download/2">2018新国辩笔记.docx</a></td>
                <td>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group mb-3">
                                <select class="form-control" id="grade001">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn btn-primary">Update</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>002</td>
                <td>Thornton</td>
                <td><a href="#">2018新国辩笔记.docx</a></td>
                <td>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group mb-3">
                                <select class="form-control" id="grade002">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn btn-primary">Update</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>003</td>
                <td>Frank</td>
                <td>None</td>
                <td>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group mb-3">
                                <select class="form-control" id="grade003">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn btn-primary">Update</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="../static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="../static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>