<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap-4.3.1/dist/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/stickyFooter.css">
    <title>Assignment 1 - UDMS</title>
</head>
<body>

<!-- Navbar Ordinary User -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../homepage/homepage.html">
        <img class="navbar-icon mx-auto" src="../static/img/logo/logo_white_notitle.svg" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar" aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../homepage/homepage.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./assignment.html">Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../search/search.html">Search Data</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1 mb-3 font-weight-bold">Assignment 1</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h5 class="h5 mb-3 font-weight-bold">Requirement</h5>
            <p class="mb-3">Assignment requirement will be listed here</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h5 class="h5 mb-3 font-weight-bold">Submission Status</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Submission status</th>
                    <td><span class="badge badge-pill badge-danger">No submission</span></td>
                </tr>
                <tr>
                    <th scope="row">Grading status</th>
                    <td><span class="badge badge-pill badge-danger">Not graded</span></td>
                </tr>
                <tr>
                    <th scope="row">Due date</th>
                    <td>Sunday, 14 April 2019, 11:55 PM</td>
                </tr>
                <tr>
                    <th scope="row">Time remaining</th>
                    <td>4 hours 49 mins</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form method="POST" action="/upload" enctype="multipart/form-data" class="was-validated">
    <div class="row">
        <div class="col">
            <div class="custom-file">
                <input type="file" name="inputFile" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">No file has been chosen</div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row justify-content-end">
        <div class="col-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
    </form>
    <br/>
    <div class="row justify-content-end">
        <div class="col-3">
            <a href="/assignment" class="btn btn-lg btn-danger btn-block">Return</a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="../static/img/logo/logo_white_notitle.svg" width="80px"><br/><br/>
                <p class="text-white">The BNU-HKBU UIC Debate Team, established by The Chinese Youth League of UIC in 2019, is a official
                    debate team that will represent BNU-HKBU UIC to attend different sorts of regional and international
                    debate competitions.</p>
                <small class="d-block mb-3 text-muted">&copy; 2019 CST Year 2 SDWII Group Project</small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/bootstrap-4.3.1/site/docs/4.3/assets/js/vendor/jquery-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="../static/bootstrap-4.3.1/dist/js/bootstrap.min.js"></script>
<script src="../static/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    //To make file input dynamic
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
</body>
</html>